-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ras_al_assad_solar
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `solar_leads`
--

DROP TABLE IF EXISTS `solar_leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `solar_leads` (
  `lead_id` int(11) NOT NULL AUTO_INCREMENT,
  `company_name` varchar(150) NOT NULL,
  `industrial_zone` varchar(150) NOT NULL,
  `industry_type` varchar(50) NOT NULL,
  `est_roof_sqft` int(11) NOT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `call_status` varchar(50) DEFAULT 'Not Called',
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`lead_id`)
) ENGINE=InnoDB AUTO_INCREMENT=205 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solar_leads`
--

LOCK TABLES `solar_leads` WRITE;
/*!40000 ALTER TABLE `solar_leads` DISABLE KEYS */;
/*!40000 ALTER TABLE `solar_leads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_solar_leads_analysis`
--

DROP TABLE IF EXISTS `v_solar_leads_analysis`;
/*!50001 DROP VIEW IF EXISTS `v_solar_leads_analysis`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_solar_leads_analysis` AS SELECT
 1 AS `company_name`,
  1 AS `industrial_zone`,
  1 AS `industry_type`,
  1 AS `est_roof_sqft`,
  1 AS `est_system_size_kwp`,
  1 AS `est_monthly_kwh`,
  1 AS `est_monthly_dewa_bill_aed`,
  1 AS `contact_number`,
  1 AS `notes` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_solar_leads_analysis`
--

/*!50001 DROP VIEW IF EXISTS `v_solar_leads_analysis`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_solar_leads_analysis` AS select `solar_leads`.`company_name` AS `company_name`,`solar_leads`.`industrial_zone` AS `industrial_zone`,`solar_leads`.`industry_type` AS `industry_type`,`solar_leads`.`est_roof_sqft` AS `est_roof_sqft`,round(`solar_leads`.`est_roof_sqft` * 0.65 / 90,1) AS `est_system_size_kwp`,round(`solar_leads`.`est_roof_sqft` * 0.963,0) AS `est_monthly_kwh`,round(`solar_leads`.`est_roof_sqft` * 0.963 * 0.43,0) AS `est_monthly_dewa_bill_aed`,`solar_leads`.`contact_number` AS `contact_number`,`solar_leads`.`notes` AS `notes` from `solar_leads` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-18 15:10:55
